@charset "UTF-8";
/*//////////////////////////////*/
/*        COLOR MANAGER         */
/*//////////////////////////////*/
:root {
  font-family: sans-serif;
  --backgroundColor: #f2f2f2;
  --compColor: #faf8f5;
  --textColor: #121212;
  --primary: #20cfcf;
  --disabled: #949494;
  --shadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em var(--primary); }

html[dark] {
  --backgroundColor: #121212;
  --textColor: #faf8f5;
  --shadow: 0 0 0 0.05em black, 0 0 0.15em 0.1em var(--primary); }

/*//////////////////////////////*/
/*         STYLE RESET          */
/*//////////////////////////////*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*héritage par rapport à body*/ }

html {
  font-size: 62.5%;
  /*1 rem égal à 10px maintenant 62.5% = 10px/16px*/
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color: var(--textColor); }

/*//////////////////////////////*/
/*         STYLE GLOBAL         */
/*//////////////////////////////*/
.content {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  gap: 2rem; }

.checkbox,
.radio {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 1em;
  align-items: center;
  width: fit-content;
  font-size: 2rem;
  color: var(--textColor);
  cursor: pointer; }

.checkbox__input,
.radio__input {
  display: grid;
  grid-template-areas: "checkbox"; }
  .checkbox__input > *,
  .radio__input > * {
    grid-area: checkbox; }
  .checkbox__input input,
  .radio__input input {
    opacity: 0;
    width: 1em;
    height: 1em; }

.checkbox__control {
  display: inline-grid;
  place-items: center;
  width: 1.25em;
  height: 1.25em;
  border-radius: 0.25em;
  border: 0.1em solid var(--primary); }
  .checkbox__control svg {
    width: 0.75em;
    height: 0.75em;
    transition: transform 0.1s ease-in 25ms;
    transform: scale(0);
    transform-origin: bottom left; }

.checkbox__input input:checked + .checkbox__control {
  background-color: var(--primary); }

.checkbox__input input:checked + .checkbox__control svg {
  transform: scale(1);
  stroke: var(--compColor); }

.checkbox__input input:focus + .checkbox__control {
  box-shadow: var(--shadow); }

.radio:focus-within .radio__label {
  transform: scale(1.05);
  color: var(--primary); }

.radio__control {
  display: grid;
  place-items: center;
  width: 1.25em;
  height: 1.25em;
  border-radius: 50%;
  border: 0.1em solid var(--primary);
  transition: all 0.2s ease-in; }

.radio__label {
  transition: 180ms all ease-in-out; }

input + .radio__control::before {
  content: "";
  width: 0.6em;
  height: 0.6em;
  background-color: var(--primary);
  border-radius: 50%;
  transition: transform 180ms ease-in-out;
  transform: scale(0); }

input:checked + .radio__control::before {
  transform: scale(1); }

input:disabled + .radio__control::before {
  background-color: var(--disabled); }

input:disabled + .radio__control {
  border: 0.1em solid var(--disabled); }

.radio__input input:focus + .radio__control {
  box-shadow: var(--shadow); }

/*//////////////////////////////*/
/*         THEME BUTTON         */
/*//////////////////////////////*/
.btn-theme {
  display: block;
  margin: 5rem auto;
  border: none;
  background-color: transparent;
  cursor: pointer; }
