/*//////////////////////////////*/
/*        COLOR MANAGER         */
/*//////////////////////////////*/

$white: hsl(45, 29%, 97%);
$black: hsl(0, 0%, 7%);
$light-gray: hsl(0, 0%, 95%);
$gray: hsl(0, 0%, 70%);
$primary: hsl(180, 73%, 47%);
$primary-light:hsl(180, 73%, 80%);
$primary-dark:hsl(180, 55%, 42%);
$disabled:hsl(300, 0%, 58%);
$primaryShadow: 0 0 0 0.05em #fff, 0 0 0.15em 0.1em var(--primary);
$darkShadow: 0 0 0 0.05em rgba(0, 0, 0, 1), 0 0 0.15em 0.1em var(--primary);

:root {
  font-family: sans-serif;
  --backgroundColor: #{$light-gray};
  --compColor: #{$white};
  --textColor: #{$black};;
  --primary: #{$primary};
  --disabled: #{$disabled};
  --shadow: #{$primaryShadow};
}

html[dark]{
  --backgroundColor: #{$black};
  --textColor: #{$white};
  --shadow: #{$darkShadow};
}

/*//////////////////////////////*/
/*         STYLE RESET          */
/*//////////////////////////////*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /*héritage par rapport à body*/
}

html {
  //Définition de l'équivalent d'1 REM
  font-size: 62.5%; /*1 rem égal à 10px maintenant 62.5% = 10px/16px*/
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  background-color: var(--backgroundColor);
  color : var(--textColor);
}

/*//////////////////////////////*/
/*         STYLE GLOBAL         */
/*//////////////////////////////*/
.content{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 0 auto;
    gap: 2rem;
}

.checkbox {
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 1em;
    align-items: center;
    width: fit-content;
    font-size: 2rem;
    color: var(--textColor);
    cursor: pointer;
}

.checkbox__input {
    display: grid;
    grid-template-areas: "checkbox";
    
    //Place tous ses enfants directs dans l'area définie
    > * { 
        grid-area: checkbox;
    }

    //Cache la checkbox mais la laisse accessible dans un contexte d'accessibilité
    input {
      opacity: 0;
      width: 1em;
      height: 1em;
    }
}

.checkbox__control {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.25em;
    border: 0.1em solid var(--primary);

    svg {
        width: 0.75em;
        height: 0.75em;
        transition: transform 0.1s ease-in 25ms;
        transform: scale(0);
        transform-origin: bottom left;
    }
}

.checkbox__input input:checked + .checkbox__control {
    background-color: var(--primary);
}

.checkbox__input input:checked + .checkbox__control svg {
    transform: scale(1);
    stroke: var(--compColor);
}

.checkbox__input input:focus + .checkbox__control {
    box-shadow: var(--shadow);
}

/*//////////////////////////////*/
/*         THEME BUTTON         */
/*//////////////////////////////*/
.btn-theme{
    display: block;
    margin: 5rem auto;
    border: none;
    background-color: transparent;
    cursor: pointer;
}